# need older version of werkzeug, match with flask
# need older version of sqlalchemy for .__all__, specify before Flask-sqalchemy

werkzeug==2.1.2
flask == 2.1.2   
flask-restx >= 0.5.1
SQLAlchemy==1.4
Flask-SQLAlchemy==2.5.1
psycopg2-binary==2.9.3
